.app {
    width: 1349px;
    height: 1000px;
    padding-inline: 109px;
    /* UI Properties */
    background: #f9f7f2 0% 0% no-repeat padding-box;
    background: #F9F7F2 0% 0% no-repeat padding-box;
    opacity: 1;
}
