@import "tailwindcss";

@font-face {
    font-family: "IvyMode";
    src: url("../public/Fonts/IvyMode-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "BrownLight";
    src: url("../public/Fonts/BrownLight-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Brown";
    src: url("../public/Fonts/BrownMedium-Regular.ttf") format("truetype");
}

